.titleImage{
  float: left !important;
	margin-top: 20px;
	margin-left: -60px;
}

.appName {
  color: #444444;
	font-weight: bold;
}

.appNameDiv {
	margin-top: 30px;
	position: absolute;
	margin-left: 215px;

}
