<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet"  href="foundation/css/foundation.css">
		<link rel="stylesheet" href="foundation/app.css"

		<!--<title><%= htmlWebpackPlugin.options.title %></title>-->
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>
