.clientRowDiv {
	padding-top: 20px;
	background-color: #CCCCCC;
}

 .chevronBackground {
	background-image: url('../../svgs/chevron5.svg');
	background-repeat: no-repeat;
	height: 70px;
	display: flex;
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 15px;


}

.chevronBackground span {
	padding-top: 15px;
	padding-left: 10px;
}

.clientName {
	font-family: helvetica, sans-serif;
	font-size: 25px;
}

.clientNameDiv {
	 margin-top: 5px;
}
